.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns items vertically in the center */
    padding: 20px;
    background-color: #2A2438; /* Changes background color to purple */  
}

.logoAndNav {
   display: flex; /* Make logo and nav in a single row */
   gap: 15px; /* Space between logo and nav */
}

.logo {
   height: 20px; /* Adjust as needed */
}

.nav {
   display: flex;
   gap: 10px; /* Space between items */
}

.searchBar {
    height: 30px; 
    width: 200px;
    padding: 5px;
    border-radius: 5px; /* Adjusts rounding - smaller value for less rounding */
    border: none; /* Removes default border */
    outline: none; /* Removes focus outline */
    background-color: #9681EB; /* Changes background color to purple */
    color: white; /* Changes text color to white */
 }
 
 /* Change placeholder color to white */
 .searchBar::placeholder {
     color: white;
     opacity: 1; /* Firefox needs this to display the color properly */
 }
 
 /* Optional - Style for when search bar is focused */
 .searchBar:focus {
     box-shadow: 0 0 5px rgba(81, 203, 238, 1); /* Adds a glow effect on focus */
 }
.link {
   cursor:pointer;
   text-decoration:none; /* Removes underline */
   color:rgb(255, 255, 255) !important; /* Changes link color to black */ 
}
  
.active {
   font-weight:bold;
}