.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligns items vertically in the center */
    padding: 20px;
    background-color: #2A2438; /* Changes background color to purple */  
}

.logoAndNav {
   display: flex; /* Make logo and nav in a single row */
   gap: 15px; /* Space between logo and nav */
}

.logo {
   height: 20px; /* Adjust as needed */
}

.nav {
   display: flex;
   gap: 10px; /* Space between items */
}

.search-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh; /* Use the full height of the viewport */
 }
 
 .searchBar {
   height: 30px;
   width: 200px;
   padding: 5px;
   border-radius: 5px;
   border: none;
   outline: none;
   background-color: #9681EB;
   color: white;
   margin-bottom: 20px; /* Add margin to the bottom for spacing */
 }
 
 /* Change placeholder color to white */
 .searchBar::placeholder {
   color: white;
   opacity: 1;
 }
 
 /* Optional - Style for when the search bar is focused */
 .searchBar:focus {
   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
 }
.link {
   cursor:pointer;
   text-decoration:none; /* Removes underline */
   color:rgb(255, 255, 255) !important; /* Changes link color to black */ 
}
  
.active {
   font-weight:bold;
}