.dropdown {
  background-color: #1E1928;
  color:white;
}

h3 {
  padding: 20px;
}

.containerAll::-webkit-scrollbar {
  width: 5px;
}

.containerAll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Hide the default scrollbar for Firefox */
.containerAll {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.containerAll:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}

.containerAll {
      overflow-x: auto; /* Enables horizontal scrolling */
      gap: 20px; /* Space between cards */
      margin-bottom: 40px; /* Adds space below each row of cards. Adjust as needed. */
      display: flex;
      margin-left:20px;
    }

     .title {
      color: white;
     }
    
    .container {
       /* Prevents the card from shrinking if there's not enough space */
       flex-shrink :0 ;
       
       /* Fixed width and height of each card. Adjust as needed */
       width: 200px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
    }
    
    .image {
      width: 200px;
      height: 200px;
      flex-shrink: 0;
      overflow:hidden ;
      object-fit :cover ; 
    }
    
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
        
     .song-title {
      color: white;
      font-size: 14px; 
      margin-bottom: 0;
     }
        
     .song-description {
      font-size :14px ; 
      color: gray;  
     }

     .selectContainer {
      position: relative;
    }
    
    .customSelect {
      appearance: none;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 250px;
      outline: none;
      background-image: url('data:image/svg+xml;utf8,<svg fill="%23343a40" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
      background-repeat: no-repeat;
      background-position: right 10px center;
      height: 40px; 
      color: white;
      background-color: #9681EB;
      cursor: pointer; 
      margin-bottom: 80px;
      margin-left:20px;
    }
    
    .customSelect:hover {
      border-color: #555;
    }
    
    .customSelect:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border-color: #007bff;
    }
