.country {
  width: 250px;
  height: 40px; 
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  background-color: #9681EB;
  cursor: pointer; 
  margin-bottom: 80px;
}

.country-selector {
  padding: 20px; 
}

.dropdown {
  background-color: #1E1928;
  color:white;
}

h3 {
  padding: 20px;
}

.containerAll {
      /* overflow-x: auto; Enables horizontal scrolling */
      gap: 20px; /* Space between cards */
      margin-bottom: 40px; /* Adds space below each row of cards. Adjust as needed. */
      display: flex;
      overflow: hidden;
      scroll-behavior: smooth;
    }

     .title {
      color: #ffffff;
     }
    
    .container {
       /* Prevents the card from shrinking if there's not enough space */
       flex-shrink :0 ;
       
       /* Fixed width and height of each card. Adjust as needed */
       width: 200px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
    }
    
    .image {
      width: 200px;
      height: 200px;
      flex-shrink: 0;
      overflow:hidden ;
      object-fit :cover ; 
    }
    
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
        
     .song-title {
      color: white;
      font-size: 14px; 
      margin-bottom: 0;
     }
        
     .song-description {
      font-size :14px ; 
      color: gray;  
     }
     
