.dropdown {
    width: 400px;
    margin: 100px auto;
    position: relative;
    background-color: purple;
}

.dropdown,
.dropdown-button {
    padding: 15px 20px;
    box-shadow: 3px 3px 10px 6px black;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown,
.dropdown-content {
    position: absolute;
    top: 110%;
    padding: 15px;
    background: white;
    box-shadow: 3px 3px 10px 6px black;
}

.indonesia,
  .vectorIcon {
    position: relative;
  }

  .vectorIcon {
    width: 22.5px;
    height: 13.89px;
    cursor: pointer;
  }

  .indonesiaParent {
    position: absolute;
    top: 14px;
    left: 20px;
    background-color: var(--purple);
    width: 80px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 250px;
  }