@font-face {
    font-family: "SF Pro Text";
    src: url("/fonts/SFProText-Regular.otf") format("opentype");
  }
  
  body {
    font-family: "SF Pro Text", sans-serif;
  }

a {
    text-decoration: none !important;
}

body {
    background-color: #2A2438; /* Changes background color to purple */
}

h1{
  color: #ffffff;
  padding: 20px;
}

.card-container {
  white-space: nowrap;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;

}

.btn-circle {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50px; /* Half of width and height */
    text-align: center;
  }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}